/* ------------------------------------------------
  Project:   Hectolab - Medical & Health Multipurpose HTML5 Template
  Author:    ThemeHt
------------------------------------------------ */


/* ------------------------
    Responsive Css
------------------------*/

@media (max-width: 1200px){
h1{font-size: 60px; line-height: 70px;}
h3 {font-size: 28px; line-height: 38px;}
h4 {font-size: 22px; line-height: 30px;}


/*Padding*/
.lg-pr-5 {padding-right: 50px !important;}
.lg-px-3 {padding-left: 30px !important; padding-right: 30px !important;}
.lg-py-3 {padding-top: 30px !important; padding-bottom: 30px !important;}

/*Margin*/
.lg-mt-3{margin-top: 30px !important;}
.lg-mt-5{margin-top: 50px !important;}
.lg-mt-7{margin-top: 70px !important;}

/*Header*/
.logo img {height: 55px;}
#header-wrap.fixed-header .logo img {height: 50px;}
.navbar-nav .nav-item {margin: 0 10px;}
.header-3 .navbar-nav .nav-item {margin: 0 5px;}

/*Blog*/
.post .post-desc {padding: 20px;}

/*Sidebar*/
.sidebar-links li a {font-size: 14px; padding: 15px 10px;}
.sidebar-links li.active a, .sidebar-links li a:hover {padding-left: 15px;}

/*Portfolio*/
.portfolio-filter button {font-size: 14px; padding: 10px 25px;}

/*Contact*/
.contact-main {padding: 20px;}

/*Social Icons*/
.social-icons li {margin: 0 4px 0 0;}
.social-icons li a {height: 35px; line-height: 35px; width: 35px;}

/*Tab*/
.tab .nav-tabs .nav-link{padding: 15px 30px;}

.featured-step {padding: 20px;}
.featured-step > span {right: 20px; top: 20px;}

}


@media (max-width: 992px){
h1{font-size: 50px; line-height: 60px;}
h3 {font-size: 24px; line-height: 30px;}
h4 {font-size: 20px; line-height: 26px;}
h5 {font-size: 18px; line-height: 28px;}
h6 {font-size: 17px; line-height: 26px;}
.hidden-md{display: none !important;}

/*Margin*/
.md-mt-0{margin-top: 0 !important;}
.md-pl-0{padding-left: 0 !important;}
.md-mt-3{margin-top: 30px !important;}
.md-mt-5{margin-top: 50px !important;}
.md-mt-7{margin-top: 70px !important;}
.md-mb-3{margin-bottom: 30px !important;}
.md-mb-5{margin-bottom: 50px !important;}
.md-mb-7{margin-bottom: 70px !important;}
.md-px-3 {padding-left: 30px !important; padding-right: 30px !important;}
.md-py-3 {padding-top: 30px !important; padding-bottom: 30px !important;}
.md-py-5 {padding-top: 50px !important; padding-bottom: 50px !important;}
.md-pt-8{padding-top: 80px !important;}

/*Text Align*/
.md-text-center{text-align: center !important;}
.md-text-left{text-align: left !important;}

/*Top Bar*/
.top-bar .social-icons{display: none;}

/*Header*/
#header-wrap .appoint-btn {position: absolute; padding: 7px 15px; right: 100px; top: 50%; transform: translateY(-50%);}
#header-wrap{padding: 20px 0;}
.navbar {justify-content: flex-end; width: 100%; border-radius: 0 !important;}
.navbar-brand {left: 0; margin-right: 0; position: absolute; top: 50%; padding: 0; transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%);}
.header-3 .navbar-brand {left: 10px;}
.navbar-toggler {background: #4ab242; border-radius: 0; -webkit-box-shadow: 0 18px 42px 0 rgba(28, 30, 35, 0.15); -moz-box-shadow: 0 18px 42px 0 rgba(28, 30, 35, 0.15); box-shadow: 0 18px 42px 0 rgba(28, 30, 35, 0.15);}
.navbar-toggler-icon {height: inherit; width: inherit;}
.navbar-toggler-icon::before {color: #fff; content: ""; font-family: "themify"; font-size: 21px; font-style: normal; font-weight: normal; text-decoration: inherit;}
.navbar-nav li > ul{position: static;}
.navbar-nav .nav-item{margin: 0;}
.navbar-nav .nav-link{padding: 10px !important; font-size: 15px; color: #ffffff; line-height: inherit;}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active, .navbar-nav .nav-link:focus,
#header-wrap.fixed-header .navbar-nav .nav-link:hover, #header-wrap.fixed-header .navbar-nav .nav-link.active{background: #ffffff; color: #4ab242 !important;}
.navbar-nav.sm-collapsible .has-submenu{padding-top: 10px; padding-bottom: 10px;}
.navbar-collapse {background:#4ab242; max-height: 400px; overflow: auto; border: medium none; left: 0; padding: 0; position: absolute; top: 40px; width: 100%;}

.fullwidth ul li{overflow: hidden;}

.navbar-nav .nav-link .sub-arrow, .navbar-nav li ul li a .sub-arrow {position: absolute; border:none; top: 50%; right: 0; margin: -0.5em 0.5em 0 0; border-radius: .25rem; padding: 0; width: 2em; height: 1.4em; font-size: 1.25rem; line-height: 1.2em; text-align: center;}
.navbar-nav a .sub-arrow::before {content: '+';}
.navbar-nav .highlighted .sub-arrow::before {content: '-';}

.appoinment-img{display: none}
.home-4 .featured-item.left-icon{padding: 0;}
.home-4 .featured-item.left-icon .featured-icon{position: inherit; margin-bottom: 15px;}
.header-3 #header-wrap .appoint-btn{display: none}
.header-3 #header-wrap{padding: 20px;}
.header-3 #header-wrap.fixed-header{padding: 20px;}
.header-3 .navbar-nav .nav-item {margin: 0;}
.header-3 #header-wrap.fixed-header .navbar-nav .nav-link{color: #ffffff}
.header-3 #header-wrap .navbar-brand {margin-left: 0; left: 0;}

/*Page-Title*/
.page-title {padding-bottom: 70px; padding-top: 170px;}

/*Side Image*/
.side-image{display: none;}
.img-side.img-right {left: auto; position: relative !important; right: 0;}
.img-side.img-left {left: 0; position: relative !important; right: auto;}
.slide-arrow-2.owl-carousel .owl-nav {left: 90%;}

/*Masonry*/
.grid.columns-3 .grid-item, .masonry.columns-3 .masonry-brick, .grid.columns-4 .grid-item, .masonry.columns-4 .masonry-brick {width: 50%;}

/*Contact*/
.contact-2 .form-info {left: inherit; position: inherit; top: inherit; transform: inherit; width: 100%;}
.contact-2 .contact-main {padding: 30px;}
.contact-1 .contact-box{position: inherit; top: inherit; transform: inherit;}
.contact-3 .iframe-h-2{height: 300px !important;}
.contact-3 .form-info{padding: 20px !important}

/*Blog*/
.sidebar{margin-top: 50px;}

}

@media (max-width: 767px){
h1{font-size: 40px; line-height: 50px;}
h2{font-size: 32px;}
h3 {font-size: 22px; line-height: 30px;}
.hidden-sm{display: none !important;}
.section-title h2{font-size: 34px; line-height: 42px;}
.section-title p {font-size: 16px;}
.page-title h1 {font-size: 30px; line-height: 30px;}

/*Margin*/
.sm-mt-0{margin-top: 0 !important;}
.sm-mt-3{margin-top: 30px !important;}
.sm-mt-5{margin-top: 50px !important;}
.sm-mb-3{margin-bottom: 30px !important;}
.sm-mb-5{margin-bottom: 50px !important;}

/*Padding*/
.sm-pt-0{padding-top: 0 !important;}
.sm-pt-5{padding-top: 50px !important;}
.sm-pt-10{padding-top: 100px !important;}
.sm-pb-5{padding-bottom: 50px !important;}
.sm-pb-8{padding-bottom: 80px !important;}
.sm-pb-10{padding-bottom: 100px !important;}
.sm-px-3{padding-left: 30px !important; padding-right: 30px !important;}
.sm-py-3{padding-top: 30px !important; padding-bottom: 30px !important;}
.sm-py-8{padding-top: 80px !important; padding-bottom: 80px !important;}

/*Top Bar*/
.topbar-link, .header-2 .top-bar{display: none;}

/*Page-Title*/
.page-title {padding-bottom: 70px; padding-top: 120px;}

.fullscreen-banner .lead{font-size: 14px; line-height: 22px;}
.fullscreen-banner p br{display: none;}

/*Counter*/
.counter {margin: 15px 0 !important;}

/*Portfolio*/
.grid.columns-3 .grid-item, .masonry.columns-3 .masonry-brick {width: 100%;}

/*Countdown*/
.coming-soon{padding: 50px 30px;}
.countdown > li{display: table-cell; vertical-align: middle; width: auto;}
.countdown > li span {font-size: 40px; line-height: 40px;}
.countdown > li p{font-size: 16px;}

/*Iframe*/
.iframe-h{height: 300px !important;}
.html5-video video {width: auto;}

/*Blog*/
.blog-details {padding: 20px;}
.post-queto .item {padding: 20px;}
.post-queto .item span {display: block; margin-bottom: 15px; position: inherit; top: inherit; left: inherit;}
.media-holder .media {display: block;}
.media-holder .media img{margin-right: 0 !important; margin-bottom: 15px;}
.media-holder .media.inner {margin: 15px 0 15px 30px;}
.reply {bottom: inherit; margin-top: 15px; position: inherit; right: inherit;}

/*Team*/
.team-description .skill-title {bottom: -40px;}

/*Tab*/
.tab .nav-tabs .nav-link {font-size: 15px; padding: 15px 20px;}

/*Testimonial*/
.testimonial-content {margin-top: 30px;}

}

@media (max-width: 576px){
.col-xx-12{width: 100% !important;}
h1{font-size: 30px; line-height: 38px;}
h2{font-size: 28px; line-height: 34px; margin-bottom: 10px;}
h3 {font-size: 20px; line-height: 28px;}
.section-title h2{font-size: 32px; line-height: 40px;}
.page-title h1 {font-size: 24px;}

/*Margin*/
.xs-mt-0{margin-top: 0 !important;}
.xs-mt-1{margin-top: 10px !important;}
.xs-mt-3{margin-top: 30px !important;}
.xs-mt-5{margin-top: 50px !important;}
.xs-mb-3{margin-bottom: 30px !important;}
.xs-mb-5{margin-bottom: 50px !important;}

/*Padding*/
.xs-pt-5{padding-top: 50px !important;}
.xs-pb-5{padding-bottom: 50px !important;}
.xs-px-1{padding-left: 10px !important; padding-right: 10px !important;}
.xs-px-2{padding-left: 20px !important; padding-right: 20px !important;}
.xs-px-3{padding-left: 30px !important; padding-right: 30px !important;}
.xs-py-2{padding-top: 20px !important; padding-bottom: 20px !important;}
.xs-py-10{padding-top: 100px !important; padding-bottom: 100px !important;}

/*Text Align*/
.xs-text-center{text-align: center;}

/*Top Bar*/
.top-bar, .appoint-btn{display: none;}

/*Banner*/
.sl-slide h1 {letter-spacing: 4px;}
.sl-slide h5{font-size: 15px;} 
.fullscreen-banner .nav-dots{display: block;}
.home-4 .fullscreen-banner .align-center{padding-top: 93px !important;}

/*Button*/
.btn {padding: 10px 20px; font-size: 13px;}
.btn + .btn {margin-left: 5px;}

/*About*/
.about-2 .working-hours li {font-size: 14px;}
.about-2 .working-hours {padding: 15px 20px 15px;}

/*Masonry*/
.portfolio-filter{width: 100%;}
.portfolio-filter button{width: 100%; margin-bottom: 2px; font-size: 14px; border-right: none;}
.portfolio-filter button + button {margin-left: 0;}
.grid.columns-3 .grid-item, .masonry.columns-3 .masonry-brick {width: 100%;}
.grid.columns-4 .grid-item, .masonry.columns-4 .masonry-brick {width: 100%;}

/*Tab*/
.tab .nav-tabs .nav-link {width: 100%;}
.tab .tab-content {padding: 20px;}

/*Countdown*/
.coming-soon {padding:50px 15px;}
.countdown {margin: 30px 0;}
.countdown > li{padding: 0 10px;}
.countdown > li span{font-size:30px; line-height: 30px;}
.countdown > li p{font-size:13px; line-height: 24px;}

/*Rounded Skill*/
.rounded-skill{width: 120px; height: 120px;}

/*Testimonial*/
.testimonial.style-2 .testimonial-avatar {display: block; width: 40%;}
.testimonial.style-2 .testimonial-content {display: block; margin-top: 0;}
.slider-pos .owl-carousel{right: inherit;}

/*Modal*/
.modal {top: 0; padding-right: 0 !important}

}
